version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Сохраняем данные
      - ./init-user-scripts:/docker-entrypoint-initdb.d #Дополнительная инициализация скриптов в формате *.sql, *.sql.gz или *.sh

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db  # Указываем зависимость от сервиса db

volumes:
  postgres_data:  # Объявляем volume для хранения данных
